<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <title>Idio Fashion</title>
    <link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
</head>

<body>
    <% if(success_msg !='' ){ %>
        <div class="alertsuccess">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= success_msg %>
        </div>
        <% } %>
            <% if(error_msg !='' ){ %>
                <div class="alertfail">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <%= error_msg %>
                </div>
                <% } %>
                    <% if(error !='' ){ %>
                        <div class="alertfail">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <%= error %>
                        </div>
                        <% } %>
                            <!--Nav-->
                            <nav class="navbar navbar-expand-sm navbar-dark bg-black">
                                <div class="container">
                                    <a class="lg" href="/"> <img src="../public/images/logo.png" alt="logo"> </a>
                                    <a href="/" class="navbar-brand">Idio Fashion</a>
                                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarCollapse">
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item">
                                                <a href="/" class="nav-link">Home</a>
                                            </li>
                                            <div class="dropdown">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">Men</a>
                                                </li>
                                                <div class="dropdown-content">
                                                    <a href="/men_shirt">Shirts</a>
                                                    <a href="/men_jean">Jeans</a>
                                                    <a href="/men_shoes">Shoes</a>
                                                    <a href="/men_accessry">Accessories</a>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">Women</a>
                                                </li>
                                                <div class="dropdown-content">
                                                    <a href="/women_fabric">Fabric</a>
                                                    <a href="/women_jewelry">Jewelry</a>
                                                    <a href="/women_shoes">Shoes</a>
                                                    <a href="/women_accessry">Accessories</a>
                                                </div>
                                            </div>
                                            <div class="dropdown">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link">Kids</a>
                                                </li>
                                                <div class="dropdown-content">
                                                    <a href="/kid_outwear">Outwear</a>
                                                    <a href="/kid_toys">Toys</a>
                                                    <a href="/kid_shoes">Shoes</a>
                                                    <a href="/kid_accessry">Accessories</a>
                                                </div>
                                            </div>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Blog</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/contact" class="nav-link">Contact</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/users/login" class="nav-link">Sign in</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link"><i
                                                        class="fas fa-shopping-cart fa-2x"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--End of NAv-->
                            <!-- SLIDER -->
                            <section id="main">
                                <div id="Carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#Carousel" data-slide-to="1"></li>
                                        <li data-target="#Carousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner ">
                                        <div class="carousel-item carousel-image-1 active">
                                            <div class="container">
                                                <div class="carousel-caption d-none d-sm-block mb-5">
                                                    <h1 class="display-3 h-color">Men Collections</h1>
                                                    <p class="lead">We have best men collection in our store include all
                                                        categarios.</p>
                                                    <a href="#" class="btn btn-color slide-btn btn-lg">Learn more</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item carousel-image-2">
                                            <div class="container">
                                                <div class="carousel-caption d-none d-sm-block mb-5">
                                                    <h1 class="display-3 h-color">Women Collections</h1>
                                                    <p class="lead">We have best women collection in our store include
                                                        all categarios.</p>
                                                    <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="carousel-item carousel-image-3">
                                            <div class="container">
                                                <div class="carousel-caption d-none d-sm-block mb-5">
                                                    <h1 class="display-3 h-color">Kids Collections</h1>
                                                    <p class="lead">We have best kids collection in our store include
                                                        all categarios.</p>
                                                    <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>

                                    <a href="#Carousel" data-slide="next" class="carousel-control-next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>
                            </section>
                            <!--End of slider-->

                            <!-- Product section -->
                            <section id="products" class="products py-5">
                                <div class="container">
                                    <!-- section title -->
                                    <div class="row">
                                        <div class="col-10 mx-auto col-sm-6 text-center">
                                            <h1 class="text-capitalize product-title">Our Collections</h1>
                                        </div>
                                    </div>
                                    <!-- end section title -->
                                    <!-- Product items -->
                                    <div class="row product-items" id="product-items">
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/men_shirt">
                                                        <img src="../public/images/mshirt.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Men Shirts</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- end of single item -->
                                        <!-- single items -->

                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/men_jean">
                                                        <img src="../public/images/mjean.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Men Jeans</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/men_shoes">
                                                        <img src="../public/images/mshoes.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Men Shoes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/men_accessry">
                                                        <img src="../public/images/mwatch.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name"> Men Accessories</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/women_fabric">
                                                        <img src="../public/images/wshirt.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Women Fabric </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/women_jewelry">
                                                        <img src="../public/images/wjewelary.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name"> Women Jewelry</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/women_shoes">
                                                        <img src="../public/images/wshoes.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name"> Women Shoes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/women_accessry">
                                                        <img src="../public/images/wwatch.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="store-item-name">Women Accessories</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/kid_outwear">
                                                        <img src="../public/images/kshirt.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name"> Kids Outwear</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/kid_toys">
                                                        <img src="../public/images/toys.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Kids Toys</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/kid_shoes">
                                                        <img src="../public/images/kshoes.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name">Kids Shoes</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                        <!-- single items -->
                                        <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
                                            <div class="card single-item">
                                                <div class="img-container">
                                                    <a href="/kid_accessry">
                                                        <img src="../public/images/kwatch.jpg"
                                                            class="card-img-top product-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="card-body">
                                                    <div
                                                        class="card-text d-flex justify-content-between text-capitalize">
                                                        <h5 id="item-name"> Kids Accessories</h5>
                                                        <!-- <span><i class="fas fa-dollar-sign"></i>550</span> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of single item -->
                                    </div>
                                    <!-- end of store items -->
                                </div>
                            </section>
                            <!-- end of store section -->
                            <!---End of Product Section===-->

                            <!---About Section=====-->
                            <section id="about-sec">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-5 text-center">
                                            <img src="../public/images/imgstideext.jpg" width="450" height="150"
                                                class="img-fluid watch-img">
                                        </div>
                                        <div class="col-lg-7 text-lg-right  text-center text-color about-text">
                                            <h1>Artificial Intelligence Chatbot</h1>
                                            <p class="text">We are introducing artificial intelligence based chat system
                                                in over store,
                                                you can query at any time ouer Chatbot repond you at the time of spot
                                                and enjoy best services !!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!---End of About Section---->

                            <!--Contact us Section-->
                            <!--Contact US-->
                            <section class="contact py-5">
                                <div class="container">
                                    <h2 class="section-heading">Subcribe Newsletter</h2>
                                    <form class="col-lg-6 offset-lg-3" action="/newsletter" method="POST">
                                        <div class="form-group">
                                            <input type="email" id="email" class="form-control" required="true"
                                                aria-describedby="emailHelp" name="email"
                                                placeholder="Enter email for Subcribe">
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-lg btn-color cont-btn">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </section>
                            <!--End of Contact Section-->

                            <!--Best Seller Products-->
                            <!--
    <section class="seller py-5">
        <div class="container">
            Section title
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">
                        Best Seller Products
                    </h1>
                </div>
            </div>
            End of Title
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="seller-item">
                        <img src="Images/about.jpg" alt="" class="img-fluid photo">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                End of first column
                <div class="col-sm-6 d-flex flex-column justify-content-between">
                    <div class="row">
                        first item
                        <div class="col-sm-6">
                            <div class="seller-item">
                                <img src="Images/image1.jpg" alt="" class="img-fluid seller-img">

                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        End of 1st item
                        first item
                        <div class="col-sm-6">
                            <div class="seller-item">
                                <img src="Images/image2.jpg" alt="" class="img-fluid seller-img">

                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        End of 1st item
                    </div>
                    end of row
                    <div class="row">
                        first item
                        <div class="col-sm-6">
                            <div class="seller-item">
                                <img src="Images/image4.jpg" alt="" class="img-fluid seller-img
                    img-top">

                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        End of 1st item
                        first item
                        <div class="col-sm-6">
                            <div class="seller-item">
                                <img src="Images/image5.jpg" alt="" class="img-fluid seller-img
                    img-top">

                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        End of 1st item
                    </div>
                </div>
            </div>
        </div>
    </section> -->
                            <!---End of Best Seller-->

                            <!--Service Section==========-->
                            <section class="services py-5 text-center">
                                <div class="container">
                                    <div class="row">
                                        <!--Single Service-->
                                        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                                            <span class="service-icon">
                                                <i class="fas fa-globe fa-2x"></i>
                                            </span>
                                            <h5 class="font-weight-bold text-uppercase">Worldwide Shipping</h5>
                                            <p class="text-capitalize">Get Free Shipping on all yours orders!</p>
                                        </div>
                                        <!--end of Service=-->
                                        <!--Single Service-->
                                        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                                            <span class="service-icon">
                                                <i class="fas fa-stamp fa-2x"></i>
                                            </span>
                                            <h5 class="font-weight-bold text-uppercase">Best Service</h5>
                                            <p class="text-capitalize">Lets check out best product here awaing you.

                                            </p>
                                        </div>
                                        <!--end of Service=-->
                                        <!--Single Service-->
                                        <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                                            <span class="service-icon">
                                                <i class="fas fa-file-invoice-dollar fa-2x"></i>
                                            </span>
                                            <h5 class="font-weight-bold text-uppercase">Payment Method</h5>
                                            <p class="text-capitalize">Be confident your best and secure payment method.
                                            </p>
                                        </div>
                                        <!--end of Service=-->
                                    </div>
                                </div>
                            </section>
                            <!---End of Service Section=======-->


                            <!--Footer-->

                            <footer class="container-fluid bg-grey py-5">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <div class="logo-part">
                                                        <h1>Idio Fashion</h1>
                                                        <p>We have best store all over internet</p>
                                                        <p>we have Best products , best price, Artificial Intiligence,
                                                            and much more</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 px-4">
                                                    <h6> About Company</h6>
                                                    <p>We have best Team and best products.</p>
                                                    <a href="#" class="btn-footer"> About us </a><br>
                                                    <a href="/contact" class="btn-footer"> Contact Us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6 px-4">
                                                    <h6> Categories</h6>
                                                    <div class="row ">
                                                        <div class="col-md-6">
                                                            <ul>
                                                                <li> <a href="#"> Home</a> </li>
                                                                <li> <a href="#"> Service</a> </li>
                                                                <li> <a href="#"> Men</a> </li>
                                                                <li> <a href="#"> Women</a> </li>
                                                                <li> <a href="#"> Kids</a> </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6 px-4">
                                                            <ul>
                                                                <li> <a href="#"> Blog</a> </li>
                                                                <li> <a href="#"> Terms</a> </li>
                                                                <li> <a href="#"> Policy</a> </li>
                                                                <li> <a href="#"> Refunds</a> </li>
                                                                <li> <a href="#"> Paypal</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <h6> Newsletter</h6>
                                                    <div class="social">
                                                        <a href="#"><i class="fa fa-facebook"
                                                                aria-hidden="true"></i></a>
                                                        <a href="#"><i class="fa fa-instagram"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <form class="form-footer my-3" action="/newsletter" method="POST">
                                                        <input type="text" required="true" placeholder="Newsletter"
                                                            name="email">
                                                        <input id="go-news" type="submit" value="Go">
                                                    </form>
                                                    <p>Copyright ©2021 All rights reserved Idio Fashion</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </footer>







                            <!-- Optional JavaScript -->
                            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                                crossorigin="anonymous"></script>
                            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                                crossorigin="anonymous"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                                crossorigin="anonymous"></script>
</body>

</html>