<!doctype html>
<html lang="en">
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <title>Idio Fashion</title>
    <link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/css/single.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <!--Nav-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            <a class="lg" href="/"> <img src="../public/images/logo.png" alt="logo">
            </a>
            <a href="/" class="navbar-brand">Idio Fashion</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <div class="dropdown">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Men</a>
                        </li>
                        <div class="dropdown-content">
                            <a href="/men_shirt">Shirts</a>
                            <a href="/men_jean">Jeans</a>
                            <a href="/men_shoes">Shoes</a>
                            <a href="/men_accessry">Accessories</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Women</a>
                        </li>
                        <div class="dropdown-content">
                            <a href="/women_fabric">Fabric</a>
                            <a href="/women_jewelry">Jewelry</a>
                            <a href="/women_shoes">Shoes</a>
                            <a href="/women_accessry">Accessories</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Kids</a>
                        </li>
                        <div class="dropdown-content">
                            <a href="/kid_outwear">Outwear</a>
                            <a href="/kid_toys">Toys</a>
                            <a href="/kid_shoes">Shoes</a>
                            <a href="/kid_accessry">Accessories</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                    <% if( user ) {%>
                        <div class="dropdown">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Hi <%= user.name %></a>
                            </li>
                            <div class="dropdown-content">
                                <a href="#">Profile</a>
                                <a href="#">Cart</a>
                                <a href="/users/logout">Sign out</a>
                            </div>
                        </div>
                        </li>
                        <% }else{ %>
                            <li class="nav-item">
                                <a href="/users/login" class="nav-link">Sign in</a>
                            </li>
                            <% } %>
                                <li class="nav-item">
                                    <a href="/cart" class="nav-link"><i class="fas fa-shopping-cart fa-2x"></i></a>
                                </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of NAv-->

    <div class="hero">
        <div class="row">
            <div class="col">

                <div class="slider">
                    <div class="product">

                        <img src="../public/images/pro1.jpg" alt="" onclick="clickme(this)">
                        <img src="../public/images/pro2.jpg" alt="" onclick="clickme(this)">
                        <img src="../public/images/pro3.jpg" alt="" onclick="clickme(this)">
                        <img src="../public/images/pro4.jpg" alt="" onclick="clickme(this)">

                    </div>
                    <div class="preview">
                        <img src="../public/images/pro1.jpg" id="imagebox" alt="">
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="content">

                    <h2>MENS CLASSIC T-SHIRTS</h2>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p class="price">Rs 899</p>
                    <p>Size: <select name="size">

                            <option value="select size">select size</option>
                            <option value="small">small</option>
                            <option value="medium">medium</option>
                            <option value="large">large</option>

                        </select></p>
                    <p>Quantity: <input type="text" value="1"></p>
                    <button type="button">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart</button>
                </div>

            </div>
        </div>


        <div class="related">
            <h2>related items</h2>
            <div class="row">
                <div class="columns">
                    <div class="items">
                        <img src="../public/images/shirt1.1.jpg" alt="">
                        <div class="details">
                            <p>MENS CLASSIC T-SHIRTS</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>

                            <p>Rs 899</p>

                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="items">
                        <img src="../public/images/shirt2.jpg" alt="">
                        <div class="details">
                            <p>POLO SHIRT BLACK</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>

                            <p>Rs 1,099</p>

                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="items">
                        <img src="../public/images/shirt3.jpg" alt="">
                        <div class="details">
                            <p>MENS CASUAL STRIPED</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>

                            <p>Rs 899</p>

                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="items">
                        <img src="../public/images/shirt6.1.png" alt="">
                        <div class="details">
                            <p>MENS FASHION DENIM SHIRT</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>

                            <p>Rs 1,499</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>



    <!--Footer-->


    <footer class="container-fluid bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="logo-part">
                                <h1>Idio Fashion</h1>
                                <p>We have best store all over internet</p>
                                <p>we have Best products , best price, Artificial Intiligence,
                                    and much more</p>
                            </div>
                        </div>
                        <div class="col-md-6 px-4">
                            <h6> About Company</h6>
                            <p>We have best Team and best products.</p>
                            <a href="#" class="btn-footer"> About us </a><br>
                            <a href="/contact" class="btn-footer"> Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 px-4">
                            <h6> Categories</h6>
                            <div class="row ">
                                <div class="col-md-6">
                                    <ul>
                                        <li> <a href="#"> Home</a> </li>
                                        <li> <a href="#"> Service</a> </li>
                                        <li> <a href="#"> Men</a> </li>
                                        <li> <a href="#"> Women</a> </li>
                                        <li> <a href="#"> Kids</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 px-4">
                                    <ul>
                                        <li> <a href="#"> Blog</a> </li>
                                        <li> <a href="#"> Terms</a> </li>
                                        <li> <a href="#"> Policy</a> </li>
                                        <li> <a href="#"> Refunds</a> </li>
                                        <li> <a href="#"> Paypal</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <h6> Newsletter</h6>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <form class="form-footer my-3" action="/newsletter" method="POST">
                                <input type="text" required="true" placeholder="Newsletter" name="email">
                                <input id="go-news" type="submit" value="Go">
                            </form>
                            <p>Copyright ©2021 All rights reserved Idio Fashion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- END FOOTER -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <script>
        function clickme(smallImg) {

            var fullImg = document.getElementById("imagebox");
            fullImg.src = smallImg.src;

        }

    </script>



</body>

</html>s